<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Citas</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.Sjs">


    <!-- ... -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script type="text/javascript" src="js/ui.bootstrap.js"></script>


    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 0.2px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>
<header>
 <!-- Navigation -->
 <nav class="navbarn navbar-default">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <img src="logo.png"></img>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><a href="http://likeup-company.com/">LikeUp</a></li>
             </li>
           </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><a></a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Nuestra Página</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#">Cerrar Sesión</a></li>
             </ul>
           </li>
         </ul>
       </div><!-- /.container-fluid -->
     </nav>
   </header>
<body>

    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <div ng-controller="KitchenSinkCtrl as vm">
                <h2 class="text-center">{{ vm.calendarTitle }}</h2>

                <div class="row">

                  <div class="col-md-6 text-center">
                    <div class="btn-group">

                      <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="vm.viewDate"
                        decrement="vm.calendarView"
                        ng-click="vm.cellIsOpen = false">
                        Anterior
                      </button>
                      <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="vm.viewDate"
                        set-to-today
                        ng-click="vm.cellIsOpen = false">
                        Hoy
                      </button>
                      <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="vm.viewDate"
                        increment="vm.calendarView"
                        ng-click="vm.cellIsOpen = false">
                        Siguiente
                      </button>
                    </div>
                  </div>

                  <br class="visible-xs visible-sm">

                  <div class="col-md-6 text-center">
                    <div class="btn-group">
                      <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
                      <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
                      <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
                      <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Día</label>
                    </div>
                  </div>

                </div>

                <br>

                <mwl-calendar
                  events="vm.events"
                  view="vm.calendarView"
                  view-title="vm.calendarTitle"
                  view-date="vm.viewDate"
                  on-event-click="vm.eventClicked(calendarEvent)"
                  on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                  cell-is-open="vm.cellIsOpen"
                  day-view-start="06:00"
                  day-view-end="22:59"
                  day-view-split="30"
                  cell-modifier="vm.modifyCell(calendarCell)"
                  cell-auto-open-disabled="true"
                  on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
                </mwl-calendar>

                <br><br><br>

                <h3 id="event-editor">
                Editar Cita
                  <button
                    class="btn btn-primary pull-right"
                    ng-click="vm.addEvent()">
                    Agregar Nueva
                  </button>
                  <div class="clearfix"></div>
                </h3>

                <table class="table table-bordered">

                  <thead>
                    <tr>
                      <th>Cita</th>
                      <th>Nombre</th>
                      <th>Teléfono</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="event in vm.events track by $index">
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          ng-model="event.title">
                      </td>
                      <td>
                        <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
                      </td>
                      <td>
                        <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
                      </td>
                      <td>
                        <p class="input-group" style="max-width: 250px">
                          <input
                            type="text"
                            class="form-control"
                            readonly
                            uib-datepicker-popup="dd MMMM yyyy"
                            ng-model="event.startsAt"
                            is-open="event.startOpen"
                            close-text="Close" >
                          <span class="input-group-btn">
                            <button
                              type="button"
                              class="btn btn-default"
                              ng-click="vm.toggle($event, 'startOpen', event)">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                        <div
                          uib-timepicker
                          ng-model="event.startsAt"
                          hour-step="1"
                          minute-step="15"
                          show-meridian="true">
                        </div>
                      </td>
                      <td>
                        <p class="input-group" style="max-width: 250px">
                          <input
                            type="text"
                            class="form-control"
                            readonly
                            uib-datepicker-popup="dd MMMM yyyy"
                            ng-model="event.endsAt"
                            is-open="event.endOpen"
                            close-text="Close">
                          <span class="input-group-btn">
                            <button
                              type="button"
                              class="btn btn-default"
                              ng-click="vm.toggle($event, 'endOpen', event)">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                        <div
                          uib-timepicker
                          ng-model="event.endsAt"
                          hour-step="1"
                          minute-step="15"
                          show-meridian="true">
                        </div>
                      </td>
                      <td>
                        <button
                          class="btn btn-danger"
                          ng-click="vm.events.splice($index, 1)">
                          Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
          </div>

    <!-- /.container -->
    <div class="col-xs-12 col-sm-6 col-md-8">

      <hr>

      <!-- Footer -->
      <footer class="verde">
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Your Website 2014</p>
              </div>
          </div>
      </footer>

  </div>


    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
    <script type="text/javascript">
    angular.module('myApp', ['mwl.calendar', 'ui.bootstrap']);
    </script>
    <script type="text/javascript">
      angular.module('myApp', [require('angular-bootstrap-calendar'), require('angular-ui-bootstrap')]);
    </script>
    <script type="text/javascript">
        $('.carousel').carousel();
        $('.carousel').carousel({
          interval: 2000
        })
    </script>


</body>

</html>
